@page "/oficios-expedidos-mc"

@*@inject ILocalStorageService localStorage
@inject IAuthService authService*@

<h3>Oficios - Expedidos</h3>

<TableOficiosEnviados eor="1" ejercicio="2022" isPage="true"  />
@code {
    //private int depto;
    //private int idempleado;

}
